@use '../../styles/partials/reset' as *;
@use '../../styles/partials/variables' as *;

.btn {
    position: relative;
    overflow: hidden;
    // margin: 0 2rem;
    margin-bottom: 2rem;
    background: $color-light;
    color: $color-accent;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    padding: 5% 7%;
    border: 3px solid $color-accent;
    border-radius: 20px;
    transition: 0.5s;
    &::after {
        content: '';
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 120%;
        height: 100%;
        border-radius: 10px;
        background: rgba(251, 247, 247, 0.3);
        transition: 0.5s;
    }
    &:hover {
        background: darken($color-light, 5%);
        &::after {
            transform: translateY(50px);
            filter: blur(50px);
        }
    }
}