// primary colors
$color-dark: #440A5F;
$color-light: #6A3190;
$color-accent: #FBC200;
// secondary colors
$color-dark-sec: #BFC6CD;
$color-light-sec: #D2DAE0;
$color-accent-sec: #E9EDF3;
// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;
$desktop-xlwidth: 1600px;
