@use '../../styles/partials/reset' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;


.hero {
    font-family: 'Wizards Magic';
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 2rem;
    &__logo {
        width: 100px;
        height: 100px;
        margin: auto;
    }
    &__title {
        font-size: 2.25rem;
        padding: 1.5rem;
        color: $color-dark-sec;
        font-family: Wizards Magic;
        @include desktop {
            font-size: 3.25rem;
            padding: 3rem;
        }
        
    }
    &__mission {
        font-size: 2rem;
        margin-bottom: 2rem;
        @include desktop {
            font-size: 1.5rem;
            padding: 2rem;
        }
    }
    &__btnDiv {
        display:flex;
        flex-direction: column;
        width: 35%;
        max-width: 1140px;
        margin:auto;
        margin-top: 3rem;
    }
}

.goToGame {
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
    }

    .number {
        font-family:fantasy;
        font-size: 1.5rem;
    }