.equation{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
    &__keyboard {
        display: flex;
        width: 150px;
        height: 200px;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__btn {
        width: 50px !important;
        height: 50px !important;
    }
    &__row {
        display: flex;
        font-size: 50px;
    }
    &__input {
        width: 80px;
        height: 55px;
        padding: 1rem;
        margin: 0.5rem;
        margin-top:0;
    }

}
