@use '../../styles/partials/reset' as *;
@use '../../styles/partials/variables' as *;

.header {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-bottom: 1px solid $color-accent-sec;
    &__title {
        font-size: 2.25rem;
        padding: 1.5rem;
        color: $color-dark-sec;
        font-family: Wizards Magic;
        text-align: center;
    }
    &__logo {
        width: 50px;
        height: 50px;
    }
}