@use './styles/partials/reset' as *;
@use './styles/partials/typography' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: $color-dark;
  color: $color-accent;
  padding: 2rem;
  
}

.wizard-style {
    font-family: Wizards Magic;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 42px 0;
    max-width: $tablet-width;
    margin: auto;
    &__title {
        font-size: 3.25rem;
        color: $color-dark-sec;
        font-family: Wizards Magic;
        padding: 3rem;
        
    }
    &__mission {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    &__wrapper {
        display:flex;
        flex-direction: column;
        max-width: 1140px;
        margin:auto;
        justify-content: center;
        align-items: center;
        padding-top: .5rem;
        @include desktop {
            justify-content: space-between;
      
        }
    }
    &__date {
        font-family: 'Courier New', Courier, monospace;
        //font-size: 1.25rem;
        width:fit-content;
        margin-right:auto;
        margin-left:auto;
    }
}

.goToGame {
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
    }

    .number {
        font-family:fantasy;
        font-size: 1.5rem;
    }

