@use './styles/partials/reset' as *;
@use './styles/partials/typography' as *;
@use './styles/partials/variables' as *;



body {
  font-family: 'Courier New', Courier, monospace;
  background-color: $color-dark;
  color: $color-accent;
  padding: 2rem;
  
}

.wizard-style {
    font-family: 'Wizards Magic';
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 2rem;
    &__title {
        font-size: 3.25rem;
        color: $color-dark-sec;
        font-family: Wizards Magic;
        padding: 3rem;
        
    }
    &__mission {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    &__wrapper {
        display:flex;
        flex-direction: column;
        // width: 35%;
        max-width: 1140px;
        margin:auto;
        margin-top: 3rem;
    }
}

.goToGame {
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
    }

    .number {
        font-family:fantasy;
        font-size: 1.5rem;
    }

