@use '../../styles/partials/reset' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.equation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
   
    &__keyboard {
        display: flex;
        width: 200px;
        height: 200px;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__btn {
        width: 55px !important;
        height: 55px !important;
        font-size:1.5rem;
        margin:.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__row {
        display: flex;
        font-size: 52px;
    }
    &__input {
        width: 80px;
        height: 55px;
        padding: 1rem;
        margin: 0.5rem;
        margin-top:0;
    }

}
